html, body {
    background: linear-gradient(to bottom, rgb(248,190,0),rgb(249, 156, 0));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Calibri;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    height: 100%;
}


.AppPage{
    margin:0px;
    padding:0px;
    border: 0px;
    display:inline-block;
    position:relative;
    left:50px;
    bottom:2px;


}
h1{
    font-size: 25px;
    background-color: rgb(63,63,63);
    padding: 20px 50px;
    margin-top:100px;
    color: white;
    font-weight:bold;
    text-align:center;
    border-radius: 30px;
    box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.6);

}

nav{
    line-height:70px;
    display: inline;
    position:absolute;
    left:1100px;
    top:100px;
}
button{
    background-color: rgb(63,63,63);
    color: white;
    border:none;
    border-radius: 40px;
    padding:10px 20px;
    display: inline;
    font-size:25px;
    font-weight:bold;
    box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.6);

}

.container2 {
    background-color: rgb(36,36,36);
    border-radius: 30px;
    display: inline-block;
    position:relative;
    top:2px;
    right:2px;
    box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.6);


}
.resize {
    margin:30px 0px;
    background: linear-gradient(to bottom, rgb(248,190,0),rgb(249, 156, 0));
    padding:10px 20px;
    border-radius: 10px;

}

.img1, .img2, .img3{

    width:20px;
    height:20px;
    background-color: rgb(63,63,63);
    padding:10px;
    border-radius: 50px;

}
.container3 {
    background-color: rgb(36,36,36);
    border-radius: 30px;
    display:inline-block;
    padding-top: 20px;
    width:1150px;
    padding-bottom: 200px;
    font-size:20px;
    color:white;
    margin-left:10px;
    position:relative;
    top:30px;
    right:2px;
    overflow-y: hidden;
    box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.6);
}



th{
    background: linear-gradient(to bottom, rgb(248,190,0),rgb(249, 156, 0));
    padding:0 20px 0 15px;
    height:auto;
    width:auto;
    text-align: center;
    border-radius: 5px;
}

td{
    text-align: center;
    padding:5px 20px 5px 15px;


}




.img4, .img5 {
    color:white;
    width:20px;
    height:20px;
    padding:10px;
    border-radius: 50px;

}

